.speaker-card{

    background-color: lightsalmon;
    width: 260px;
    height: 400px;
    /* pode-se utilizar o max-width para colocar um limite de crescimento ao elemento*/
    display: flex;
    flex-wrap: wrap;
    padding: 40px 40px;
    border-radius: 20px;
    border: 20px;
    transition: background-color 0.6s ease, color 0.6s ease;
    /* Tem como colocar o "overflow" em hidden, para colocar encaixar um elemento automaticamente em algo. */
}